<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="interval" value="1800000"/> <!-- Defines how often we update our GK list.. in milliseconds -->
    <add key="topAmount" value="150"/> <!-- Defines the amount of factions to collect for the top -->
    <add key="updateTime" value="5"/> <!-- Defines how many minutes after the first hour we perform updates. Requires Restart. -->
  </appSettings>
</configuration>